@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: #f7f7f5;
  color: #111;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "cv11", "ss01";
}

* {
  border-color: #e6e6e3;
}
